# Dependencies
node_modules/

# Expo / React Native build files
.expo/
.expo-shared/
android/
ios/
web-build/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env

# System files
.DS_Store
Thumbs.db
